# PINATA API KEYS
PINATA_API_KEY=UNKNOWN         #See: https://app.pinata.cloud/developers/api-keys
PINATA_API_SECRET=UNKNOWN      #See: https://app.pinata.cloud/developers/api-keys
PINATA_SUBMARINE_KEY=UNKNOWN   #See: https://app.pinata.cloud/developers/v2-api-keys
PINATA_GATEWAY_URL=UNKNOWN     #See: https://app.pinata.cloud/developers/api-keys

# LOOPRING API KEYS
LOOPRING_API_KEY=UNKNOWN

# Other environment variables
SESSION_SECRET=complex_password_at_least_32_characters_long

# Supabase
SUPABASE_PWD=UNKNOWN
SUPABASE_ANON=UNKNOWN
SUPABASE_URL=https://UNKNOWN.supabase.co